{% extends 'base.html' %}
{% block content %}

    
      <div class="container-xxl position-relative p-0">
  <div class="container-xxl bg-primary hero-header">
      <div class="container px-lg-5">
        <div class="row g-5 align-items-end">
          <div class="col-lg-6 text-center text-lg-start">
            <h1 class="text-white mb-4 animated slideInDown">
              Empowering the Future of Science and &amp; Technology
            </h1>
            <p class="text-white pb-3 animated slideInDown">
              At SPE African University of Science and Technology, we cultivate intelligent and innovative minds. 
              Our commitment to excellence and cutting-edge research ensures students thrive and shape the future.
              Unleash your potential and make a lasting impact in science and technology.


            </p>
            <a
              href=""
              class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft"
              >Read More</a
            >
            <a
              href=""
              class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight"
              >Contact Us</a
            >
          </div>
          <div class="col-lg-6 text-center text-lg-start">
            <img
              class="img-fluid animated zoomIn"
              src="{{ url_for ('static', path='img/factory.png') }}"
              alt=""
              width="600px"
              height="400px"
            />
          </div>
        </div>
      </div>
    </div>
      </div>
      <!-- Feature Start -->
      <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
          <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
              <div class="feature-item bg-light rounded text-center p-4">
                <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                <h5 class="mb-3">Workshops & Seminars Description</h5>
                <p class="m-0">
                  Join our interactive workshops and seminars to gain practical knowledge and 
                  skills in petroleum engineering and related fields.
                </p>
              </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
              <div class="feature-item bg-light rounded text-center p-4">
                <i class="fa fa-3x fa-search text-primary mb-4"></i>
                <h5 class="mb-3">Networking Opportunities Description</h5>
                <p class="m-0">
                  Connect with industry professionals, alumni, and peers to expand your professional 
                  network and explore career opportunities.
                </p>
              </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
              <div class="feature-item bg-light rounded text-center p-4">
                <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
                <h5 class="mb-3">Research & Development Description</h5>
                <p class="m-0">
                  Participate in cutting-edge research projects and contribute to advancements 
                  in science and technology within the petroleum industry.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Feature End -->

      <!-- About Start -->
      <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
              <p class="section-title text-secondary">About Us<span></span></p>
              <h1 class="mb-5">
                Learn More About What SPE is All About
              </h1>
              <p class="mb-4">
                At the SPE chapter of African University of Science and Technology, we empower students with the skills to excel in petroleum engineering and many other fields. Our mission is to cultivate innovative thinkers and industry leaders passionate about making a difference.
              </p>
              <div class="skill mb-4">
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Workshops & Seminars Description</p>
                  <p class="mb-2">85%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar bg-primary"
                    role="progressbar"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="skill mb-4">
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Networking Opportunities Description</p>
                  <p class="mb-2">90%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar bg-secondary"
                    role="progressbar"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="skill mb-4">
                <div class="d-flex justify-content-between">
                  <p class="mb-2">Research & Development Description</p>
                  <p class="mb-2">95%</p>
                </div>
                <div class="progress">
                  <div
                    class="progress-bar bg-dark"
                    role="progressbar"
                    aria-valuenow="95"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <a
                href=""
                class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3"
                >Read More</a
              >
            </div>
            <div class="col-lg-6">
              <img
                class="img-fluid wow zoomIn"
                data-wow-delay="0.5s"
                src="{{ url_for('static', path='img/about.png') }}"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- About End -->

      <!-- Facts Start -->
      <div
        class="container-xxl bg-primary fact py-5 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="container py-5 px-lg-5">
          <div class="row g-4">
            <div
              class="col-md-6 col-lg-3 text-center wow fadeIn"
              data-wow-delay="0.1s"
            >
              <i class="fa fa-certificate fa-3x text-secondary mb-3"></i>
              <h1 class="text-white mb-2" data-toggle="counter-up">3</h1>
              <p class="text-white mb-0">Years Experience</p>
            </div>
            <div
              class="col-md-6 col-lg-3 text-center wow fadeIn"
              data-wow-delay="0.3s"
            >
              <i class="fa fa-users-cog fa-3x text-secondary mb-3"></i>
              <h1 class="text-white mb-2" data-toggle="counter-up">13</h1>
              <p class="text-white mb-0">Executive Members</p>
            </div>
            <div
              class="col-md-6 col-lg-3 text-center wow fadeIn"
              data-wow-delay="0.5s"
            >
              <i class="fa fa-users fa-3x text-secondary mb-3"></i>
              <h1 class="text-white mb-2" data-toggle="counter-up">121</h1>
              <p class="text-white mb-0">Registered Volunteers</p>
            </div>
            <div
              class="col-md-6 col-lg-3 text-center wow fadeIn"
              data-wow-delay="0.7s"
            >
              <i class="fa fa-check fa-3x text-secondary mb-3"></i>
              <h1 class="text-white mb-2" data-toggle="counter-up">30</h1>
              <p class="text-white mb-0">Completed Projects</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Facts End -->

      <!-- Service Start -->
      <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
          <div class="wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title text-secondary justify-content-center">
              <span></span>Our Services<span></span>
            </p>
            <h1 class="text-center mb-5">Membership Benefits</h1>
          </div>
          <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <i class="fa fa-search fa-2x"></i>
                </div>
                <h5 class="mb-3">Cutting-Edge Research</h5>
                <p class="m-0">
                  Engage in innovative research projects that push the boundaries of science and technology, contributing to significant advancements in the petroleum industry
                </p>
                <a class="btn btn-square" href=""
                  ><i class="fa fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <i class="fa fa-laptop-code fa-2x"></i>
                </div>
                <h5 class="mb-3">Exclusive Resources</h5>
                <p class="m-0">
                  Gain access to invaluable resources, including industry insights, research papers, and technical reports, tailored to enhance your knowledge and skills in petroleum engineering
                </p>
                <a class="btn btn-square" href=""
                  ><i class="fa fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <i class="fab fa-facebook-f fa-2x"></i>
                </div>
                <h5 class="mb-3">Networking Opportunities</h5>
                <p class="m-0">
                  Connect with industry professionals, alumni, and peers, creating a strong professional network that can open doors to career opportunities and collaborations
                </p>
                <a class="btn btn-square" href=""
                  ><i class="fa fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <i class="fa fa-mail-bulk fa-2x"></i>
                </div>
                <h5 class="mb-3">Leadership Development</h5>
                <p class="m-0">
                  Take on leadership roles within the chapter, developing essential skills such as teamwork, communication, and project management, which are highly valued by employers.
                </p>
                <a class="btn btn-square" href=""
                  ><i class="fa fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <i class="fa fa-thumbs-up fa-2x"></i>
                </div>
                <h5 class="mb-3">Vibrant Community</h5>
                <p class="m-0">
                  Join a dynamic and supportive community of like-minded individuals who share your passion for petroleum engineering, fostering a sense of belonging and camaraderie
                </p>
                <a class="btn btn-square" href=""
                  ><i class="fa fa-arrow-right"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <i class="fab fa-android fa-2x"></i>
                </div>
                <h5 class="mb-3">Professional Growth</h5>
                <p class="m-0">
                  Participate in workshops, seminars, and hands-on training sessions that will equip you with practical skills and knowledge, setting you apart in the competitive job market
                </p>
                <a class="btn btn-square" href=""
                  ><i class="fa fa-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Service End -->

      <!-- Newsletter Start -->
      <div
        class="container-xxl bg-primary newsletter py-5 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="container py-5 px-lg-5">
          <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
              <p class="section-title text-white justify-content-center">
                <span></span>Newsletter<span></span>
              </p>
              <h1 class="text-center text-white mb-4">Stay Always In Touch</h1>
              <p class="text-white mb-4">
                Stay updated with the latest news, events, and opportunities at the SPE chapter of African University of Science and Technology. Connect with us on social media and join our mailing list.
              </p>
              <div class="position-relative w-100 mt-3">
                <input
                  class="form-control border-0 rounded-pill w-100 ps-4 pe-5"
                  type="text"
                  placeholder="Enter Your Email"
                  style="height: 48px;"
                />
                <button
                  type="button"
                  class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"
                >
                  <i class="fa fa-paper-plane text-primary fs-4"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Newsletter End -->

      <!-- Projects Start -->
      <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
          <div class="wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title text-secondary justify-content-center">
              <span></span>Our Projects<span></span>
            </p>
            <h1 class="text-center mb-5">Recently Completed Seminars</h1>
          </div>
          <div class="row g-4 portfolio-container">
            <div
            class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp"
            data-wow-delay="0.5s"
          >
            <div class="rounded overflow-hidden">
              <div class="position-relative overflow-hidden">
                <img
                  class="img-fluid w-100"
                  src="{{ url_for('static', path='img/strategy.jpg') }}"
                  alt=""
                />
                <div class="portfolio-overlay">
                  <a
                    class="btn btn-square btn-outline-light mx-1"
                    href="{{ url_for('static', path='img/strategy.jpg') }}"
                    data-lightbox="portfolio"
                    ><i class="fa fa-eye"></i
                  ></a>
                  <a class="btn btn-square btn-outline-light mx-1" href=""
                    ><i class="fa fa-link"></i
                  ></a>
                </div>
              </div>
              <div class="bg-light p-4">
                <h5 class="lh-base mb-0">
                  The Student CEO - Strategies for Navigating Business Dynamics on Campus
                </h5>
              </div>
            </div>
            </div>
            <div
              class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp"
              data-wow-delay="0.1s"
            >
              <div class="rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <img
                    class="img-fluid w-100"
                    src="{{ url_for('static', path='img/ai.png') }}"
                    alt=""
                  />
                  <div class="portfolio-overlay">
                    <a
                      class="btn btn-square btn-outline-light mx-1"
                      href="{{ url_for('static', path='img/ai.png') }}"
                      data-lightbox="portfolio"
                      ><i class="fa fa-eye"></i
                    ></a>
                    <a class="btn btn-square btn-outline-light mx-1" href=""
                      ><i class="fa fa-link"></i
                    ></a>
                  </div>
                </div>
                <div class="bg-light p-4">
                  <h5 class="lh-base mb-0">
                    Artificial Intelligence in STEM: Skills for the Modern Industry
                  </h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp"
              data-wow-delay="0.3s"
            >
              <div class="rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <img
                    class="img-fluid w-100"
                    src="{{ url_for('static', path='img/talents.jpg') }}"
                    alt=""
                  />
                  <div class="portfolio-overlay">
                    <a
                      class="btn btn-square btn-outline-light mx-1"
                      href="{{ url_for('static', path='img/talents.jpg') }}"
                      data-lightbox="portfolio"
                      ><i class="fa fa-eye"></i
                    ></a>
                    <a class="btn btn-square btn-outline-light mx-1" href=""
                      ><i class="fa fa-link"></i
                    ></a>
                  </div>
                </div>
                <div class="bg-light p-4">
                  <h5 class="lh-base mb-0">
                    The Human Edge: Why AI Can't Replace Your Unique Skills and Talents
                  </h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp"
              data-wow-delay="0.5s"
            >
              <div class="rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <img
                    class="img-fluid w-100"
                    src="{{ url_for('static', path='img/ambassador.jpg') }}"
                    alt=""
                  />
                  <div class="portfolio-overlay">
                    <a
                      class="btn btn-square btn-outline-light mx-1"
                      href="{{ url_for('static', path='img/ambassador.jpg') }}"
                      data-lightbox="portfolio"
                      ><i class="fa fa-eye"></i
                    ></a>
                    <a class="btn btn-square btn-outline-light mx-1" href=""
                      ><i class="fa fa-link"></i
                    ></a>
                  </div>
                </div>
                <div class="bg-light p-4">
                  <h5 class="lh-base mb-0">
                    Mastering Conscious Leadership: A Roadmap to Career Development
                  </h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp"
              data-wow-delay="0.1s"
            >
              <div class="rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <img
                    class="img-fluid w-100"
                    src="{{ url_for('static', path='img/india.jpg') }}"
                    alt=""
                  />
                  <div class="portfolio-overlay">
                    <a
                      class="btn btn-square btn-outline-light mx-1"
                      href="{{ url_for('static', path='img/india.jpg') }}"
                      data-lightbox="portfolio"
                      ><i class="fa fa-eye"></i
                    ></a>
                    <a class="btn btn-square btn-outline-light mx-1" href=""
                      ><i class="fa fa-link"></i
                    ></a>
                  </div>
                </div>
                <div class="bg-light p-4">
                  <h5 class="lh-base mb-0">
                    Multiphase Metering - A Digital Tool for Decarbonization
                  </h5>
                </div>
              </div>
            </div>
            <div
              class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp"
              data-wow-delay="0.3s"
            >
              <div class="rounded overflow-hidden">
                <div class="position-relative overflow-hidden">
                  <img
                    class="img-fluid w-100"
                    src="{{ url_for('static', path='img/collab.jpg') }}"
                    alt=""
                  />
                  <div class="portfolio-overlay">
                    <a
                      class="btn btn-square btn-outline-light mx-1"
                      href="{{ url_for('static', path='img/collab.jpg') }}"
                      data-lightbox="portfolio"
                      ><i class="fa fa-eye"></i
                    ></a>
                    <a class="btn btn-square btn-outline-light mx-1" href=""
                      ><i class="fa fa-link"></i
                    ></a>
                  </div>
                </div>
                <div class="bg-light p-4">
                  <h5 class="lh-base mb-0">
                    2024 SPE Nigeria Council Chairman is going to be LIVE on CAMPUS
                  </h5>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Projects End -->

      <!-- Testimonial Start -->
      <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5 px-lg-5">
          <p class="section-title text-secondary justify-content-center">
            <span></span>Testimonial<span></span>
          </p>
          <h1 class="text-center mb-5">What Say Our Voluteers!</h1>
          <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-light rounded my-4">
              <p class="fs-5">
                <i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i
                >Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
                erat ipsum et lorem et sit sed stet lorem sit clita duo justo.
              </p>
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="{{ url_for('static',  path='img/testimonial-1.jpg') }}"
                  style="width: 65px; height: 65px;"
                />
                <div class="ps-4">
                  <h5 class="mb-1">Client Name</h5>
                  <span>Profession</span>
                </div>
              </div>
            </div>
            <div class="testimonial-item bg-light rounded my-4">
              <p class="fs-5">
                <i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i
                >Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
                erat ipsum et lorem et sit sed stet lorem sit clita duo justo.
              </p>
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="{{ url_for('static', path='img/testimonial-2.jpg') }}"
                  style="width: 65px; height: 65px;"
                />
                <div class="ps-4">
                  <h5 class="mb-1">Client Name</h5>
                  <span>Profession</span>
                </div>
              </div>
            </div>
            <div class="testimonial-item bg-light rounded my-4">
              <p class="fs-5">
                <i class="fa fa-quote-left fa-4x text-primary mt-n4 me-3"></i
                >Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
                erat ipsum et lorem et sit sed stet lorem sit clita duo justo.
              </p>
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="{{ url_for('static', path='img/testimonial-3.jpg') }}"
                  style="width: 65px; height: 65px;"
                />
                <div class="ps-4">
                  <h5 class="mb-1">Client Name</h5>
                  <span>Profession</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial End -->

      <!-- Team Start -->
      <div class="container-xxl py-5">
        <div class="container py-5 px-lg-5">
          <div class="wow fadeInUp" data-wow-delay="0.1s">
            <p class="section-title text-secondary justify-content-center">
              <span></span>Our Executives<span></span>
            </p>
            <h1 class="text-center mb-5">Our Executives Members</h1>
          </div>
          <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="team-item bg-light rounded">
                <div class="text-center border-bottom p-4">
                  <img
                    class="img-fluid rounded-circle mb-4"
                    src="{{ url_for('static', path='img/royalu.jpg') }}"
                    alt=""
                  />
                  <h5>Royal Ugorji</h5>
                  <span>President</span>
                </div>
                <div class="d-flex justify-content-center p-4">
                  <a class="btn btn-square mx-1" href=""
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a class="btn btn-square mx-1" href="https://www.instagram.com/flaming_chamber?igsh=MTl2bG44YWI5OHRlYg=="
                    ><i class="fab fa-instagram"></i
                  ></a>
                  <a class="btn btn-square mx-1" href="https://www.linkedin.com/in/royal-ugorji-b196b6253/"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="team-item bg-light rounded">
                <div class="text-center border-bottom p-4">
                  <img
                    class="img-fluid rounded-circle mb-4"
                    src="{{ url_for('static', path='img/zainab_g.jpg') }}"
                    alt=""
                  />
                  <h5>Zainab Gambo</h5>
                  <span>Vice-President</span>
                </div>
                <div class="d-flex justify-content-center p-4">
                  <a class="btn btn-square mx-1" href=""
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a class="btn btn-square mx-1" href=""
                    ><i class="fab fa-instagram"></i
                  ></a>
                  <a class="btn btn-square mx-1" href="https://www.linkedin.com/in/zainab-gambo-727261328/"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-item bg-light rounded">
                <div class="text-center border-bottom p-4">
                  <img
                    class="img-fluid rounded-circle mb-4"
                    src="{{ url_for('static', path='img/kavez.jpg') }}"
                    alt=""
                  />
                  <h5>Adegbite David</h5>
                  <span>Web Developer</span>
                </div>
                <div class="d-flex justify-content-center p-4">
                  <a class="btn btn-square mx-1" href="https://web.facebook.com/profile.php?id=61555712094658"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                  <a class="btn btn-square mx-1" href="https://www.instagram.com/_kavez/"
                    ><i class="fab fa-instagram"></i
                  ></a>
                  <a class="btn btn-square mx-1" href="https://www.linkedin.com/in/adegbite-david-b938b429a/"
                    ><i class="fab fa-linkedin-in"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Team End -->


    {% endblock %}
